body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    
    color: black;
}

.header {
    padding: 20px;
    background-color: #6FA1E0;
}

.logo img {
    width: 100px;
}

.container {
    padding: 20px;
    background: linear-gradient(to bottom, #87CEFA, #2E8B57);
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.option {
    width: 80%;
    max-width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.option:hover {
    background-color: #f1f1f1;
}


footer {
    background-color: #ffffff;
    padding: 15px 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo {
    display: flex;
    font-size: 10px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 35px;
    margin-right: 8px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    font-size: 14px;
    margin-bottom: 6px;
    color: #000;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.footer-column ul li a:hover {
    color: #007bff;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: #555;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 8px;
}

.footer-policy {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.footer-policy a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.footer-policy a:hover {
    color: #007bff;
}


/* Scroll Animation */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
}